<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body>
	<header>
		{{> topbar/topbar}} 
		{{> navbar/navbar navbar}}
	</header>
	{{> section1/section1 section1}} 
	{{> footer/footer}}
	{{> modal/modal}}
	<script src="%=static=%js/separate-js/jquery.js"></script>
	<script src="%=static=%js/separate-js/bootstrap.js"></script>
	<script src="%=static=%js/separate-js/svg4everybody.min.js"></script>
	<script>
		svg4everybody();

	</script>
	<!-- Main scripts. You can replace it, but I recommend you to leave it here     -->
	<script src="%=static=%js/main%=hash=%%=min=%.js"></script>
</body>

</html>
