//common

//mobile-portrait
@media (min-width: 0) {
	
}
//mobile-landscape
@media (min-width: $screen-sm-min) {
	
}
//tablet
@media (min-width: $screen-md-min) {
	
}
//desktop
@media (min-width: $screen-lg-min) {

}	
