<!-- FOOTER -->
<footer>
	<div class="container">
		<!-- FOOTER TOP -->
		<div class="row footer-top">
			<div class="media-src col-md-4 col-md-push-4 col-xs-12">
				<ul class="list-inline">
					<a href="#"><img src="%=static=%img/general/fb.png" alt=""></a>
					<a href="#"><img src="%=static=%img/general/youtube.png" alt=""></a>
					<a href="#"><img src="%=static=%img/general/mail.png" alt=""></a>
				</ul>
			</div>
			<hr class="visible-xs visible-sm">
			<div class="partners col-md-4 col-md-pull-4 col-sm-6 col-xs-12">
				<div class="partner">
					<img src="%=static=%img/general/Partners-GazProm.png" alt="">
				</div>
			</div>
			<div class="recomendations col-md-4 col-sm-6 col-xs-12">
				<div class="recomendation">
					<img src="%=static=%img/general/chery.png" alt="">
					<p class="text-uppercase">Рекомендует</p>
				</div>
				<div class="recomendation">
					<img src="%=static=%img/general/lifan-motors.png" alt="">
					<p class="text-uppercase">Рекомендует</p>
				</div>
			</div>
		</div>
		<!-- END FOOTER TOP -->
		<hr>
		<!-- FOOTER MIDDLE -->
		<div class="row footer-middle">
			<div class="like-list col-md-6">
				<div class="like-list__wrapper">
					<p class="like-list__title text-uppercase text-right">Мне нравится:</p>
					<ul class="list-inline">
						<li><a href=""><img src="%=static=%img/general/facebook.png" alt=""></a></li>
						<li><a href=""><img src="%=static=%img/general/vk.png" alt=""></a></li>
						<li><a href=""><img src="%=static=%img/general/twitter.png" alt=""></a></li>					</ul>
				</div>
			</div>
			<div class="share-list col-md-6">
				<div class="share-list__wrapper">
					<p class="share-list__title text-uppercase text-right">Поделиться:</p>
					<ul class="list-inline">
						<li><a href=""><img src="%=static=%img/general/facebook.png" alt=""></a></li>
						<li><a href=""><img src="%=static=%img/general/vk.png" alt=""></a></li>
						<li><a href=""><img src="%=static=%img/general/odnoklassniki.png" alt=""></a></li>
						<li><a href=""><img src="%=static=%img/general/twitter.png" alt=""></a></li>
					</ul>
				</div>
			</div>
		</div>
		<!-- END FOOTER MIDDLE -->
		<hr>
		<!-- FOOTER BOTTOM -->
		<div class="row footer-bottom">
			<div class="col-md-4 col-md-push-4 col-sm-12 col-xs-12 text-center">
				<ul class="lang-list list-inline text-uppercase">
					<li class="active"><a href="">Русский</a></li>
					<li><a href="">English</a></li>
					<li><a href="">Italian</a></li>
					<li><a href="">Српск</a></li>
				</ul>
			</div>
			<div class="col-md-4 col-md-pull-4 col-sm-12 col-xs-12">
				<p class="copyright">© 2009-2014, «Газпромнефть - смазочные материалы», <a href="#">Контакты</a></p>
			</div>
			<div class="col-md-4 col-sm-12 col-xs-12">
				<p class="developer">Создание сайта - <a href="#">«Энсайн»</a></p>
			</div>
		</div>
		<!-- END FOOTER BOTTOM -->

	</div>
</footer>
<!-- END FOOTER -->
