/*FOOTER*/

//common
footer {
	color: #454545;
	background-color: #252525;
	hr {
		display: block;
		height: 2px;
		width: 100%;
		margin-top: 0px;
		margin-bottom: 0px;
		border: 0;
		border-top: 1px solid #454545;
	}
	//footer-top
	.recomendations {
		.recomendation {
			display: inline-block;
		}
	}
	//footer-middle
	.like-list,
	.share-list {
		&__wrapper {
			display: table;
			margin: 0 auto;
			width: 100%;
		}
		&__title {
			display: table-cell;
		}
		.list-inline {
			display: table-cell;
		}
	}
	//footer-bottom
	.lang-list {
		li {
			padding: 0;
			&+li {
				&:before {
					content: "|";
					margin: 0 5px;
				}
			}
			a {
				color: #454545;
				&:hover {
					color: #fff;
					text-decoration: none;
				}
			}
		}
	}
	.copyright,
	.developer {
		a {
			color: #fff;
		}
	}
	//mobile-portrait
	@media (min-width: 0) {
		//footer-top
		.row.footer-top {
			padding-left: 0px;
			padding-right: 0px;
		}
		.media-src {
			text-align: center;
			padding-top: 40px;
			padding-bottom: 40px;
			img {
				width: 90px;
				margin-left: 12px;
				margin-right: 12px;
			}
		}
		.partners {
			text-align: center;
		}
		.recomendations {
			text-align: center;
			p {
				text-align: left;
				padding-left: 60px;
			}
		}
		.row.footer-top {
			&>div:not(first-child) {
				margin: 20px 0px;
			}
		}
		//footer-middle
		.like-list,
		.share-list {
			&__title {
				width: 35%;
			}
			.list-inline {
				width: 65%;
			}
		}
		.copyright {
			text-align: center;
		}
		.developer {
			text-align: center;
		}
		.row.footer-middle {
			padding-top: 20px;
			&>div {
				margin-bottom: 20px;
			}
		}
		//footer-bottom
		.row.footer-bottom {
			padding: 40px 0px;
			&>div {
				margin-bottom: 40px;
			}
		}
	}
	@media (max-width: $screen-xs-max) {}
	//mobile-landscape
	@media (min-width: $screen-sm-min) {
		//footer-top
		.media-src {
			text-align: center;
			img {
				width: 64px;
				margin-left: 11px;
				margin-right: 11px;
			}
		}
		.partners {
			text-align: left;
		}
		.recomendations {
			text-align: right;
		}
		//footer-middle
		.like-list,
		.share-list {
			&__title {
				width: 45%;
			}
			.list-inline {
				width: 55%;
			}
		}
	}
	//tablet
	@media (min-width: $screen-md-min) {
		.media-src {
			text-align: center;
			padding-top: 20px;
			padding-bottom: 20px;
		}
		.recomendations {
			padding-top: 10px;
		}
		.developer {
			text-align: right;
		}
		.copyright {
			text-align: left;
		}
	}
	//desktop
	@media (min-width: $screen-lg-min) {
		.media-src {
			padding-top: 10px;
			padding-bottom: 10px;
		}
		.recomendations {
			padding-top: 20px;
			&>.recomendation:not(first-child){
				margin-left: 25px;
			}
		}
	}
}
