<!-- NAVBAR -->
<nav class="navbar navbar-default navbar-inverse">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-home hidden-lg" href="#"><i class="glyphicon glyphicon-home"></i></a>
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#"><img src="%=static=%img/general/g-energy.png" alt="" /></a>
		</div>
		<div style="" aria-expanded="true" id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="visible-lg"><a class="navbar-home" href="#"><i class="glyphicon glyphicon-home"></i></a></li>
				{{#each navigation}}
				<li><a href="{{href}}" {{attr}}>{{title}}</a></li>
				{{/each}}
			</ul>
		</div>
	</div>
</nav>
<!-- END NAVBAR -->
