/*NAVBAR*/

//vars
$navbar-height: 102px !default;
$navbar-border-radius: 0px;
.navbar {
	background-image: url(%=static=%general/navbar-bg.png);
	.navbar-header .navbar-home {
		float: left;
		position: relative;
		height: 34px;
		margin-left: 15px;
		padding: 7px 10px;
		@include navbar-vertical-align(34px);
		color: #fff;
		background-color: transparent;
		background-image: none;
		border: 1px solid transparent;
		border-color: #333;
		border-radius: $border-radius-base;
		&:hover {
			background-color: #333;
		}
	}
	.navbar-toggle {
		float: left;
		margin-left: 15px;
	}
	.navbar-brand {
		float: right;
		padding: 0;
		height: auto;
		@include navbar-vertical-align(34px);
	}
	.navbar-nav{
		font-family: "DINPro-Bold";
		font-size: 22px;
		.navbar-home{
			.glyphicon{top: 0px;}
		}
	}
	//common
	margin-bottom: 0px;
	border-radius: 0px;
	//mobile-portrait
	@media (min-width: 0) {
		.navbar-brand{
			margin-right: 15px;
			img{
				width: 200px;
			}
		}
	}
	//mobile-landscape
	@media (min-width: $screen-sm-min) {}
	//tablet
	@media (min-width: $screen-md-min) {
	}
	//desktop
	@media (min-width: $screen-lg-min) {
		.navbar-brand{
			margin-right: 0px;
		}
		.navbar-header {
			float: right;
		}		
	}
}
