/*TOPBAR*/

//vars
$topbar-bg-color:#b4b6bb;
$topbar-base-height:46px;
$topbar-lang-width:94px;
//common
.topbar {
	height: $topbar-base-height;
	background-color: $topbar-bg-color;
	.container {
		display: table;
		padding: 0px;
	}
	.gift,
	.topbar-form,
	.language,
	.media,
	.feedback,
	.topbar-form-btn {
		display: table-cell;
		height: $topbar-base-height;
	}
	.gift {
		color: #fff;
		background-color: #e95f0e;
		min-width: 60px;
		padding: 0 25px;
		i {
			margin-right: 15px;
		}
	}
	.topbar-form {
		width: 100%;
		padding: 0 20px;
		.topbar-form-btn {
			color: #fff;
			min-width: 30px;
		}
		.search-btn{
			margin: 0 auto;
		}
		.input-group {
			width: inherit;
			.form-control {
				float: none;
				border-radius: 13px;
			}
		}
	}
	.language {
		button {
			width: $topbar-lang-width;
			height: inherit;
		}
		.dropdown-menu {
			top: $topbar-base-height;
			margin: 0;
			padding: 0;
			width: $topbar-lang-width;
			min-width: auto;
			border: none;
			border-radius: 0;
			&>li {
				line-height: 40px;
				text-align: center;
			}
		}
	}
	.media {
		width: 100%;
		padding: 0 20px;
		ul {
			display: table;
			li {
				display: table-cell;
			}
		}
	}
	.feedback {
		padding: 0 20px;
	}
	.btn {
		border-radius: 0px;
	}
	//mobile-portrait
	@media (max-width: $screen-xs-max) {
		.gift {
			i {
				margin-right: 0px;
			}
		}
	}
	//mobile-landscape
	@media (min-width: $screen-sm-min) {}
	@media (max-width: $screen-md-min) {
		.topbar-form {
			position: static;
		}
		#fieldSearch {
			position: absolute;
			top: 45px;
			left: 0px;
			right: 0px;
			background-color: #CCC;
			padding: 10px 15px;
			z-index: 9999;
			display: none;
		}
		#fieldSearch.collapse.in {
			display: block;
		}
	}
	//tablet
	@media (min-width: $screen-md-min) {
		.container {
			padding: 0 15px;
		}
		.feedback {
			img {
				margin-right: 15px;
			}
		}
	}
	//desktop	
	@media (min-width: $screen-lg-min) {}
}
