<!-- TOPBAR -->
<div class="topbar">
	<div class="container">
		<!--Action btn-->
		<button class="gift btn btn-primary text-uppercase" data-toggle="modal" data-target="#gift-modal"><i class="glyphicon glyphicon-gift"></i><span class="hidden-xs">Получите подарок </span><span class="hidden-xs hidden-sm">сейчас</span></button>
		<!--END Action btn-->
		<!--Search form-->
		<form class="topbar-form " action="">
					<button type="button" class="search-btn btn text-uppercase visible-xs visible-sm" data-toggle="collapse" data-target="#fieldSearch" aria-expanded="false" aria-controls="fieldSearch"><i class="glyphicon glyphicon-search"></i></button>
					<div id="fieldSearch" class="input-group input-group-sm collapse">
						<input class="form-control" type="text" name="search" placeholder="Поиск по сайту">
					</div>
				</form>		
		<!--END Search form-->
		<!--Lang switcher-->
		<div class="language dropdown">
			<button id="lang-label" class="btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<img src="%=static=%img/general/ru.jpg" alt="">
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" aria-labelledby="lang-label">
				<li><img src="%=static=%img/general/ru.jpg" alt=""></li>
				<li><img src="%=static=%img/general/en.jpg" alt=""></li>
				<li><img src="%=static=%img/general/ital.jpg" alt=""></li>
				<li><img src="%=static=%img/general/srpski.jpg" alt=""></li>
			</ul>
		</div>
		<!--END Lang switcher-->
		<!--Media-->
		<div class="media">
			<ul class="list-inline">
				<li><a href=""><img src="%=static=%img/general/fb-sm.png" alt=""></a></li>
				<li><a href=""><img src="%=static=%img/general/youtube-sm.png" alt=""></a></li>
			</ul>
		</div>
		<!--END Media-->
		<!--Feedback-->
		<button class="feedback btn text-uppercase"><img src="%=static=%img/general/mail-sm.png" alt=""><span class="hidden-xs hidden-sm">Свяжитесь с нами</span></button>
		<!--END Feedback-->
	</div>
</div>
<!-- END TOPBAR -->
