/*section1*/

.section1 {
	//common
	display: inline-block;
	width: 100%;
	background-color: #dbdde4;
	background-image: url(%=static=%general/section1-bg.png);
	.section1-title {
		display: block;
	}
	.technology {
		.col {
			position: relative;
			min-height: 1px;
			padding-left: 15px;
			padding-right: 15px;
		}
		.technology-logo {}
		.technology-title {
			text-transform: uppercase;
		}
	}
	//mobile-portrait
	@media (min-width: 0) {
		.technology {
			.col {
				display: table;
				width: 100%;
				text-align: auto;
				margin-bottom: 40px;
			}
			.technology-logo {
				width: 100px;
			}
			.technology-title {
				display: table-cell;
				vertical-align: middle;
				padding: 0 20px;
				width: 100%;
			}
		}
	}
	//mobile-landscape
	@media (min-width: $screen-sm-min) {}
	//tablet
	@media (min-width: $screen-md-min) {
		.technology {
			.col {
				float: left;
				width: 50%;
				text-align: left;
			}
			.technology-logo {
				width: 153px;				
			}
			.technology-title {
				
			}
		}
	}
	//desktop
	@media (min-width: $screen-lg-min) {
		.technology {
			.col {
				display: block;
				float: left;
				width: 20%;
				text-align: center;
			}
			.technology-logo {
				width: 153px;
				margin-bottom: 40px;
			}
			.technology-title {
				display: block;
				padding: 0;
			}
		}
	}
}
