<!-- SECTION1 -->
<section class="section1">
	<h1 class="section1-title text-center">Технология ACF</h1>
	<p class="text-center">Adaptive Components Formula</p>
	<div class="container">
		<div class="row technology">
			{{#each items}}
			<div class="col text-uppercase {{cls}}">
				<img class="technology-logo" src="%=static=%img/general/{{icon_src}}" alt="">
				<h3 class="technology-title">{{text}}</h3>
			</div>
			{{/each}}
		</div>
	</div>
</section>
<!-- END SECTION1 -->
