<!-- GIFT MODAL -->
<div class="modal fade" id="gift-modal" tabindex="-1" role="dialog" aria-labelledby="gift-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title text-center" id="gift-modal">Полезные советы от G-Energy</h2>
      </div>
      <div class="modal-body">
      
      
      <button type="button" class="btn btn-lg center-block btn-primary text-uppercase">Продолжить</button>
      </div>
    </div>
  </div>
</div>
<!-- END GIFT MODAL -->
<!-- THANKFULNESS MODAL -->
<div class="modal fade" id="thankfulness-modal" tabindex="-1" role="dialog" aria-labelledby="thankfulness-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="thankfulness-modal">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-lg btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- END THANKFULNESS MODAL -->
<!-- SELECT OIL -->
<div class="modal fade" id="oil-modal" tabindex="-1" role="dialog" aria-labelledby="oil-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="oil-modal">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-lg btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- END SELECT OIL -->